<p-dataTable [value]="stocks" [editable]="true">
  <p-column field="id" header="ID"></p-column>
  <p-column field="name" header="Name"></p-column>
  <p-column field="currentPrice" header="Current Price"></p-column>
  <p-column field="lastUpdate" header="Last Update" [editable]="true">
    <ng-template let-col let-stock="rowData" pTemplate="body">
      {{stock[col.field] | date: 'MM/dd/yyyy HH:mm:ss'}}
    </ng-template>
    <ng-template let-col let-stock="rowData" pTemplate="editor">
      <p-calendar (onSelect)="updateStock(stock)" [(ngModel)]="stock[col.field]" appendTo="body" showTime="showTime" hourFormat="24" showSeconds="true"></p-calendar>
    </ng-template>
  </p-column>
</p-dataTable>

<button pButton type="button" (click)="showStockForm()" label="Add Stock"></button>

<p-dialog header="New Stock" [(visible)]="stockFormVisible" width="450">

  <div class="ui-float-label">
    <label for="id">ID</label>
    <input id="id" type="text" pInputText [(ngModel)]="newStock.id"/>
  </div>

  <div class="ui-float-label">
    <label for="name">Name</label>
    <input id="name" type="text" pInputText [(ngModel)]="newStock.name"/>
  </div>

  <div class="ui-float-label">
    <label for="price">Current Price</label>
    <input id="price" type="text" pInputText [(ngModel)]="newStock.currentPrice"/> 
  </div>

  <div class="ui-float-label">
    <label for="update">Last Update</label>
    <p-calendar id="update" [(ngModel)]="newStock.lastUpdate" [inline]="true" showTime="showTime" hourFormat="24" showSeconds="true"></p-calendar>
  </div>

  <button pButton type="button" (click)="addNewStock()" label="Create Stock"></button>

</p-dialog>

<p-growl [value]="msgs"></p-growl>
